/* USER SETTINGS */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ * {
    order: 0;
}
/* BETTERDISCORD SETTINGS */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ * {
    order: -1;
}
/* CHANGELOG/HYPESQUAD/DEVELOPER */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ * {
    order: 5;
}
/* LOGOUT */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ * {
    order: 6;
}
/* APP SETTINGS */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ * {
    order: 0;
}
/* ACTIVITY SETTINGS */
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6,
.layer-86YKbF[aria-label="USER_SETTINGS"] .side-2ur1Qk > .header-2Kx1US:first-child ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ .separator-2wx7h6 ~ * {
    order: 4;
}
.header-2Kx1US {
  color: rgb(78, 77, 77);
  font-weight: bolder;
  font-size: 12px;
}
